## Sujets abordés

### Installation de Python

- Démarrer avec Python
- Téléchargement et installation d'Anaconda Navigator
- Travailler avec Jupyter Notebook


### Introduction à Python

- Variables et Types de base en Python
- Les opérateurs en Python
- Structures de contrôle en Python (condition, boucle, itérateur, range)
- Fonctions en Python (définition, paramètres et arguments, appel, expression lambda)

### Les structures de données en Python

- Listes 
- Tuples 
- Dictionnaires
- Collections

### Statistiques descriptives

- Les statistiques de base
- Mesures de tendance centrale
- Mesures de dispersion
- Coefficient de covariance et de corrélation
- Analyse exploratoire des données

### Installation de Python

#### 1-  Démarrer avec Python

Python peut être utilisé pour effectuer diverses tâches liées à la science des données, telles que le nettoyage des données, la visualisation des données, l'entraînement des modèles, le déploiement des modèles, etc.

Python a également d'autres applications telles que le développement web, le développement de jeux, etc.

#### 2- Téléchargement et installation d'Anaconda Navigator

L'édition individuelle d'[Anaconda](https://www.anaconda.com/download) est utilisée à des fins personnelles. Les éditions Enterprise, Team et commerciale offrent des fonctionnalités plus avancées et leur utilisation est payante.

L'application Anaconda Navigator permet d'accéder à tous les outils fournis avec Anaconda.
La distribution Anaconda est livrée avec de nombreuses bibliothèques Python préinstallées. Certaines des bibliothèques les plus utilisées sont NumPy, pandas, etc.

**Etapes de téléchargement et d'installation d'Anaconda Navigator**

- Aller sur le lien de téléchargement d'[Anaconda Navigator](https://www.anaconda.com/download) 


#### 3- Jupyter Notebook


### Introduction à Python

- Variables et Types de base en Python

**Déclarer et assigner une valeur à une variable.**

Nous utilisons l'opérateur d'affectation '**=**' pour attribuer une valeur à une variable.

In [1]:
num = 10

L'opérande à gauche de l'opérateur = est le nom de la variable et l'opérande à droite de l'opérateur = est la valeur stockée dans la variable. Ici, nous avons créé une variable nommée « num » et nous avons assigné la valeur 10 à la variable « num ».

**Affectations multiples**

Python permet d'affecter une même valeur à plusieurs variables simultanément. Par exemple:

In [2]:
# Ici, un objet entier est créé avec la valeur 5, et les trois variables sont assignées au même emplacement de mémoire
x = y = z = 5

Vous pouvez également affecter plusieurs objets à plusieurs variables.

In [3]:
age,poids,sexe = 15,40.1,"Fille"

**Ré-assignation d'une variable**

In [4]:
var1 = 25
var2 = "Ndeye"
var2 = var1
var2

25

**Règles et conventions de dénomination**

**Types de variables**

Un type de variable est un attribut des données qui indique au compilateur ou à l'interprète comment le programmeur a l'intention d'utiliser les variables. Python prend en charge les types de données suivants : *1. Les nombres 2. Chaînes de caractères 3. Les booléens 4. Listes 5. Tuples 6. Dictionnaires 7. Ensembles*

**Les nombres en Python**

Il existe quatre types de variable numériques en Python :

a. *int* (entiers signés)

b. *float* (valeurs réelles à virgule flottante)

c. *long* (nombres entiers longs, ils peuvent également être représentés en octal et en hexadécimal)

d. *complex* (nombres complexes)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int

'int' est l'abréviation de integer (entier). Ce type de données Python contient des entiers signés. Nous pouvons utiliser la fonction type() pour savoir à quelle classe il appartient.

In [6]:
a = -23
type(a)

int

In [7]:
x = 1000
type(a)

int

#### float

In [8]:
a = 1.1
type(a)

float

In [9]:
x = -3.14
type(x)

float

In [10]:
y = 1.626e16
type(y)

float

#### long

In [11]:
x =999999999999999999999999999999999999999999999
type(x)

int

#### complex

In [12]:
x = 3+7j
type(x)

complex

In [13]:
y = 3e+4j
type(y)

complex

### **Chaînes de caractères en Python**

Une chaîne de caractères est une séquence de caractères. Python n'a pas de type de données char, contrairement à C++ ou Java. Vous pouvez délimiter une chaîne de caractères en utilisant des guillemets simples ('chaîne de caractères') ou des guillemets doubles ("chaîne de caractères").

In [14]:
string = "ENSAE de Dakar"
string

'ENSAE de Dakar'

Le signe plus (+) est l'opérateur de concaténation de chaînes et l'astérisque (*) est l'opérateur de répétition.

In [15]:
str1 = "Hema"
str2 = "Aboubacar"
str3 = str1+str2
str3                      # Affiche la chaîne concaténée

'HemaAboubacar'

In [16]:
str3*3                    # Affiche trois fois la chaîne de caractères

'HemaAboubacarHemaAboubacarHemaAboubacar'

Vous ne pouvez pas utiliser l'opérateur moins (-) et l'opérateur de division (/) sur les chaînes de caractères.

Des sous-ensembles de chaînes peuvent être extraits à l'aide de l'opérateur de tranche ([ ]). Vous pouvez afficher un caractère d'une chaîne en utilisant son index dans la chaîne. N'oubliez pas que l'indexation commence à 0.

In [17]:
string[2]                 # Affiche le 3e caractère de string

'S'

Vous pouvez également afficher une série de caractères dans une chaîne à l'aide de l'opérateur de découpage, avec des index commençant à 0 au début de la chaîne et allant jusqu'à -1 à la fin.

In [19]:
string[3:9]             # Question : Que constatez vous?

'AE de '

Les chaînes sont <em>immutables</em>. La ligne de code suivante génère une erreur.

In [21]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

### **Booléen en Python**

Dans le langage de programmation Python, le type de variable booléen est un type de variable primitif ayant l'une des deux valeurs suivantes : **True** ou **False**. Il est souvent le résultat de certaines conditions.

In [22]:
var = True
type(var)

bool

In [23]:
print(10 > 9)

True

In [24]:
print(10 == 9)

False

In [25]:
print(10 < 9)

False

## **Conversion de type**

Python étant un langage de type dynamique, il se peut que vous souhaitiez convertir une valeur en un autre type. Python supporte différentes fonctions de conversion de type comme int(), float(), str() etc.

#### float()

Il convertit la valeur transmise en un nombre flottant.

In [26]:
float(11)

11.0

Vous pouvez transformer un booléen en un flottant.

In [27]:
float (True)

1.0

In [28]:
float(False)

0.0

Vous ne pouvez pas transformer une chaîne de caractères en un nombre flottant. Cela provoque une erreur. Cependant, si la chaîne ne contient que des nombres, vous pouvez le faire.

In [29]:
float("abc")

ValueError: could not convert string to float: 'abc'

In [30]:
float("11")

11.0

In [31]:
# Vous pouvez également utiliser 'e' pour désigner un nombre exponentiel

float("2.24e-2") # Ce nombre fonctionne même sans la fonction float()

0.0224

#### int

La conversion de float en int arrondira la valeur (la rapprochera de zéro).

In [32]:
int(11.7)

11

In [33]:
int(-11.7)

-11

Vous pouvez également transformer un booléen en un int.

In [34]:
int(True)

1

In [35]:
int(False)

0

Vous ne pouvez pas transformer une chaîne de caractères en un int. Cela provoque une erreur. Cependant, si la chaîne ne contient que des chiffres, vous pouvez le faire.

In [36]:
int("ENSAE")

ValueError: invalid literal for int() with base 10: 'ENSAE'

In [37]:
int("11")

11

#### str()

<em>str()</em> convertit la valeur en une chaîne de caractères.

In [38]:
str(2.24)

'2.24'

In [39]:
str(True)

'True'

In [40]:
str(False)

'False'

In [41]:
str(10)

'10'