## Sujets abordés

### Installation de Python

- Démarrer avec Python
- Téléchargement et installation d'Anaconda Navigator
- Travailler avec Jupyter Notebook


### Introduction à Python

- Variables et Types de base en Python
- Les opérateurs en Python
- Structures de contrôle en Python (condition, boucle, itérateur, range)
- Fonctions en Python (définition, paramètres et arguments, appel, expression lambda)

### Les structures de données en Python

- Listes 
- Tuples 
- Dictionnaires
- Collections

### Statistiques descriptives

- Les statistiques de base
- Mesures de tendance centrale
- Mesures de dispersion
- Coefficient de covariance et de corrélation
- Analyse exploratoire des données

### Installation de Python

#### 1-  Démarrer avec Python

Python peut être utilisé pour effectuer diverses tâches liées à la science des données, telles que le nettoyage des données, la visualisation des données, l'entraînement des modèles, le déploiement des modèles, etc.

Python a également d'autres applications telles que le développement web, le développement de jeux, etc.

#### 2- Téléchargement et installation d'Anaconda Navigator

L'édition individuelle d'[Anaconda](https://www.anaconda.com/download) est utilisée à des fins personnelles. Les éditions Enterprise, Team et commerciale offrent des fonctionnalités plus avancées et leur utilisation est payante.

L'application Anaconda Navigator permet d'accéder à tous les outils fournis avec Anaconda.
La distribution Anaconda est livrée avec de nombreuses bibliothèques Python préinstallées. Certaines des bibliothèques les plus utilisées sont NumPy, pandas, etc.

**Etapes de téléchargement et d'installation d'Anaconda Navigator**

- Aller sur le lien de téléchargement d'[Anaconda Navigator](https://www.anaconda.com/download) 


#### 3- Jupyter Notebook


### Introduction à Python

- Variables et Types de base en Python

**Déclarer et assigner une valeur à une variable.**

Nous utilisons l'opérateur d'affectation '**=**' pour attribuer une valeur à une variable.

In [1]:
num = 10

L'opérande à gauche de l'opérateur = est le nom de la variable et l'opérande à droite de l'opérateur = est la valeur stockée dans la variable. Ici, nous avons créé une variable nommée « num » et nous avons assigné la valeur 10 à la variable « num ».

**Affectations multiples**

Python permet d'affecter une même valeur à plusieurs variables simultanément. Par exemple:

In [2]:
# Ici, un objet entier est créé avec la valeur 5, et les trois variables sont assignées au même emplacement de mémoire
x = y = z = 5

Vous pouvez également affecter plusieurs objets à plusieurs variables.

In [3]:
age,poids,sexe = 15,40.1,"Fille"

**Ré-assignation d'une variable**

In [4]:
var1 = 25
var2 = "Ndeye"
var2 = var1
var2

25

**Règles et conventions de dénomination**

**Types de variables**

Un type de variable est un attribut des données qui indique au compilateur ou à l'interprète comment le programmeur a l'intention d'utiliser les variables. Python prend en charge les types de données suivants : *1. Les nombres 2. Chaînes de caractères 3. Les booléens 4. Listes 5. Tuples 6. Dictionnaires 7. Ensembles*

**Les nombres en Python**

Il existe quatre types de variable numériques en Python :

a. *int* (entiers signés)

b. *float* (valeurs réelles à virgule flottante)

c. *long* (nombres entiers longs, ils peuvent également être représentés en octal et en hexadécimal)

d. *complex* (nombres complexes)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int

'int' est l'abréviation de integer (entier). Ce type de données Python contient des entiers signés. Nous pouvons utiliser la fonction type() pour savoir à quelle classe il appartient.

In [6]:
a = -23
type(a)

int

In [7]:
x = 1000
type(a)

int

#### float

In [8]:
a = 1.1
type(a)

float

In [9]:
x = -3.14
type(x)

float

In [10]:
y = 1.626e16
type(y)

float

#### long

In [11]:
x =999999999999999999999999999999999999999999999
type(x)

int

#### complex

In [12]:
x = 3+7j
type(x)

complex

In [13]:
y = 3e+4j
type(y)

complex

### **Chaînes de caractères en Python**

Une chaîne de caractères est une séquence de caractères. Python n'a pas de type de données char, contrairement à C++ ou Java. Vous pouvez délimiter une chaîne de caractères en utilisant des guillemets simples ('chaîne de caractères') ou des guillemets doubles ("chaîne de caractères").

In [14]:
string = "ENSAE de Dakar"
string

'ENSAE de Dakar'

Le signe plus (+) est l'opérateur de concaténation de chaînes et l'astérisque (*) est l'opérateur de répétition.

In [15]:
str1 = "Hema"
str2 = "Aboubacar"
str3 = str1+str2
str3                      # Affiche la chaîne concaténée

'HemaAboubacar'

In [16]:
str3*3                    # Affiche trois fois la chaîne de caractères

'HemaAboubacarHemaAboubacarHemaAboubacar'

Vous ne pouvez pas utiliser l'opérateur moins (-) et l'opérateur de division (/) sur les chaînes de caractères.

Des sous-ensembles de chaînes peuvent être extraits à l'aide de l'opérateur de tranche ([ ]). Vous pouvez afficher un caractère d'une chaîne en utilisant son index dans la chaîne. N'oubliez pas que l'indexation commence à 0.

In [17]:
string[2]                 # Affiche le 3e caractère de string

'S'

Vous pouvez également afficher une série de caractères dans une chaîne à l'aide de l'opérateur de découpage, avec des index commençant à 0 au début de la chaîne et allant jusqu'à -1 à la fin.

In [19]:
string[3:9]             # Question : Que constatez vous?

'AE de '

Les chaînes sont <em>immutables</em>. La ligne de code suivante génère une erreur.

In [21]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

### **Booléen en Python**

Dans le langage de programmation Python, le type de variable booléen est un type de variable primitif ayant l'une des deux valeurs suivantes : **True** ou **False**. Il est souvent le résultat de certaines conditions.

In [22]:
var = True
type(var)

bool

In [23]:
print(10 > 9)

True

In [24]:
print(10 == 9)

False

In [25]:
print(10 < 9)

False

## **Conversion de type**

Python étant un langage de type dynamique, il se peut que vous souhaitiez convertir une valeur en un autre type. Python supporte différentes fonctions de conversion de type comme int(), float(), str() etc.

#### float()

Il convertit la valeur transmise en un nombre flottant.

In [26]:
float(11)

11.0

Vous pouvez transformer un booléen en un flottant.

In [27]:
float (True)

1.0

In [28]:
float(False)

0.0

Vous ne pouvez pas transformer une chaîne de caractères en un nombre flottant. Cela provoque une erreur. Cependant, si la chaîne ne contient que des nombres, vous pouvez le faire.

In [29]:
float("abc")

ValueError: could not convert string to float: 'abc'

In [30]:
float("11")

11.0

In [31]:
# Vous pouvez également utiliser 'e' pour désigner un nombre exponentiel

float("2.24e-2") # Ce nombre fonctionne même sans la fonction float()

0.0224

#### int

La conversion de float en int arrondira la valeur (la rapprochera de zéro).

In [32]:
int(11.7)

11

In [33]:
int(-11.7)

-11

Vous pouvez également transformer un booléen en un int.

In [34]:
int(True)

1

In [35]:
int(False)

0

Vous ne pouvez pas transformer une chaîne de caractères en un int. Cela provoque une erreur. Cependant, si la chaîne ne contient que des chiffres, vous pouvez le faire.

In [36]:
int("ENSAE")

ValueError: invalid literal for int() with base 10: 'ENSAE'

In [37]:
int("11")

11

#### str()

<em>str()</em> convertit la valeur en une chaîne de caractères.

In [38]:
str(2.24)

'2.24'

In [39]:
str(True)

'True'

In [40]:
str(False)

'False'

In [41]:
str(10)

'10'

## **La fonction  print()**

Syntaxe:

                         print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

**objects** - objet à afficher. * indique qu'il peut y avoir plus d'un objet

**sep** - les objets sont séparés par sep. Valeur par défaut : ' '<br>

**end** - la fin est imprimée en dernier

**file** - doit être un objet avec la méthode write(string). S'il est omis, sys.stdout sera utilisé pour afficher les objets à l'écran.

**flush** - Si True, le flux est forcé de se vider. Default value: False<br><br>

In [42]:
print("Nous sommes dans la classe des AS1 de l'ENSAE")

Nous sommes dans la classe des AS1 de l'ENSAE

In [43]:
# Initialiser une variable
x = 2
print("x =", x) # Ici nous passons deux objets

x = 2

Seul le paramètre objet est passé dans la fonction print() ci-dessus.

#### print() avec les paramètres de séparation et de fin

Par défaut, la fonction print() se termine par une nouvelle ligne. 

La valeur par défaut de ce paramètre est '\n' , le caractère de retour à la ligne. 
Vous pouvez terminer une instruction d'impression par n'importe quel caractère ou chaîne de caractères à l'aide de ce paramètre.

Parfois, vous avez besoin d'imprimer une ligne vide dans votre programme Python.

In [44]:
x = 2
a = 8
print("x =", x, end='\n\n\n')
print("a =", 8, end = 'j')

x = 2


a = 8j

Les objets seront séparés en fonction de la valeur du paramètre <em>sep</em>.

In [45]:
x = 2
a = 8
print("x =", x, sep='$$')
print("a =", 8, sep = 'j')

x =$$2
a =j8

## **User Input**

La fonction  input() est utilisée pour lire des données à partir d'une entrée standard telle qu'un clavier et traite les données reçues comme une chaîne de caractères. Lorsque nous entrons une valeur numérique, la fonction input() de Python 3 la stocke sous la forme d'une chaîne de caractères. Ainsi, pour convertir une valeur de chaîne en valeur entière, nous utiliserons la fonction int() comme indiqué ci-dessous.

In [47]:
age = int(input("Saisir son age: "))
print(age)
type(age)

Saisir son age: 31
31

int

In [48]:
nom = input("Saisir son nom: ")
print(nom)
type(nom)

Saisir son nom: Hema
Hema

str

Lorsque la fonction <em>input()</em> s'exécute, le déroulement du programme est interrompu jusqu'à ce que l'utilisateur ait saisi une valeur. Le message affiché sur l'écran de sortie pour demander à l'utilisateur d'entrer une valeur est facultatif, c'est-à-dire que l'invite qui sera imprimée sur l'écran est facultative.
Quelle que soit la valeur saisie, la fonction input la convertit en chaîne de caractères. Si vous saisissez une valeur entière, la fonction input() la convertit toujours en chaîne de caractères. Vous devez la convertir explicitement en un entier dans votre code en utilisant le typecasting.

## **Opérateurs en Python**

### **Opérateur arithmétique**

Les opérateurs arithmétiques sont utilisés pour effectuer des opérations mathématiques telles que l'addition, la soustraction, la multiplication, etc.

In [51]:
a = 12
b = 2
# Opérateur '+'
print('a + b =',a+b) # Affiche l'addition de a et b

#opérateur '-' 
print('a - b =',a-b) # Affiche la soustraction de a et b

# opérateur '*'
print('a * b =',a*b) # Affiche la multiplication de a et b

# opérateur '%'
print('a % b =',a%b) # Affiche le reste de la division entre a et b

# opérateur '/'
print('a / b =',a/b) # Affiche la division de a et b

# opérateur '//'
print('a // b =',a//b) # Affiche la valeur intermédiaire de la division entre a et b 

# Opérateur '**'
print('a ** b =',a**b) # Affiche le résultat de a à la puissance b

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

### **Opérateur de comparaison**

Les opérateurs de comparaison effectuent la comparaison entre les opérandes. Il indique si une opérande est plus grand que l'autre, plus petit, égal ou une combinaison de ces éléments. Il renvoie True ou False en fonction de la condition.

In [53]:
a = 10
b = 20

# Opérateur '>'.
print('a > b est',a>b) # Affiche Faux puisque a est plus petit que b

# opérateur '<'
print('a < b est',a<b) # Affiche Vrai puisque a est plus petit que b

# Opérateur '=='
print('a == b est',a==b) # Affiche Faux puisque a et b ne sont pas égaux

# opérateur '!='
print('a != b est',a!=b) # Affiche Vrai car a n'est pas égal à b

# opérateur '>='
print('a >= b est',a>=b) # Affiche Faux puisque a n'est ni plus petit ni égal à b

# opérateur '<= y'
print('a <= b est',a<=b) # Affiche Vrai car a est plus petit que b

a > b est False
a < b est True
a == b est False
a != b est True
a >= b est False
a <= b est True

### **Opérateur d'affectation**

Un opérateur d'affectation affecte une valeur à une variable. Il peut manipuler la valeur par un facteur avant de l'affecter.

In [54]:
# Opérateur '='
x = 5 # Assigne la valeur à la variable de gauche
print("x = ", x)

# opérateur '+='                 
x += 5 
print("La valeur mise à jour de x après (x += 5) est ", x)    # Additionne les valeurs de part et d'autre et les affecte à l'expression de gauche. x+=5 est identique à x=x+5

# Opérateur '-='
x -=2
print("La valeur actualisée de x après (x -=2) est ", x)     # Soustrait 2 de la dernière valeur de x et l'affecte à x(qui est 10)

# Opérateur '*='
x *= 2
print("La valeur actualisée de x après (x *= 2) est ", x)    # multiplie la valeur actuelle de x par 2 et affecte le résultat à la même variable

# Opérateur '/='
x /= 4 
print('La valeur actualisée de x après (x /= 4) est', x)    # Divise la valeur actuelle de x par 4 et affecte le résultat à la même variable

x =  5
La valeur mise à jour de x après (x += 5) est  10
La valeur actualisée de x après (x -=2) est  8
La valeur actualisée de x après (x *= 2) est  16
La valeur actualisée de x après (x /= 4) est 4.0

<em>i+=1 est la même chose que i=i+1, alors que i=+1 signifie simplement i=(+1)</em>.

### **Opérateurs logiques**

Les opérateurs logiques sont comme des conjonctions que vous pouvez utiliser pour combiner plusieurs conditions. Nous disposons de trois opérateurs logiques Python - **<em>and</em>**, **<em>or</em>**, et **<em>not</em>** qui relèvent des opérateurs python.

#### Opérateur 'and'

Si les conditions des deux côtés de l'opérateur sont vraies, alors l'expression dans son ensemble est vraie.

In [55]:
x = 11
a = x>10 and x<20
print(a)

True

Ici, les deux conditions sont remplies. La sortie est donc True.

In [56]:
x = 11
a = x>10 and x==12
print(a)

False

Ici, l'une des conditions n'est pas remplie. Par conséquent, la sortie est fausse.

#### Opérateur 'or'

L'expression n'est fausse que si les deux énoncés autour de l'opérateur sont faux. Sinon, elle est vraie.

In [57]:
x = 11
a = x>10 or x==20
print(a)

True

Ici, l'une des conditions est remplie. La sortie est donc True.

In [58]:
x = 11
a = x>12 or x==20
print(a)

False

Aucune des conditions ci-dessus n'est vraie. Par conséquent, le résultat est Faux.

## **Introduction aux listes**

### **Construction de listes**

Pour créer une liste, utilisez des crochets **[]** et séparez les éléments de la liste par des virgules.
Une liste peut être vide ou contenir un nombre quelconque d'éléments avec différents types de données (entiers, flottants, chaînes de caractères, etc.).

In [59]:
# Créer une liste vide
liste_vide = []
liste_vide

[]

**Note : Une liste peut également contenir une autre liste comme élément, on parle alors de listes imbriquées.**

In [60]:
# Liste imbriquée
ma_liste = [['Data Science', 'Machine Learning'],[135,232,321]]
ma_liste

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### **Accéder aux éléments d'une liste**

Vous pouvez accéder aux éléments d'une liste en vous référant au numéro d'index.

**Indexation :**

Nous utilisons l'opérateur d'indexation []. Chaque élément d'une liste a une valeur d'index assignée. Notez que l'index commence à 0 en python et doit être un entier.

#### Afficher le deuxième élément de la liste

In [61]:
# Définir une liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Accéder au deuxième élément d'une liste à l'index 1
print(cours[1])

machine learning

**Indexation négative**:<br>
L'indexation négative signifie que l'on commence par la fin, -1 fait référence au dernier élément et -2 à l'avant-dernier élément.

#### Afficher l'avant-dernier élément de la liste

In [62]:
# Définir une liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Accéder au deuxième élément d'une liste à l'index -2
print(cours[-2])

html

### **Découpage d'une liste**

List utilise l'opérateur de découpage **:** (deux points) pour extraire une partie de la séquence.

#### Retourner les trois premiers éléments de la liste

In [63]:
# Définir une liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Afficher les trois premiers éléments de la liste
cours[:3]

['data science', 'machine learning', 'python']

Sélectionner les éléments du début à la fin

In [64]:
# Définir une liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Afficher tous les éléments
cours[ :]

['data science', 'machine learning', 'python', 'html', 'big data']

Si les trois paramètres « start », « stop » et « step » sont fournis, il génère une partie de la séquence après l'index « start » jusqu'à « stop » avec une incrémentation de l'index « step ».

In [65]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

### **Modifier la valeur d'une liste**

Consulter le numéro d'index pour modifier la valeur d'un élément spécifique

In [66]:
# Définir une liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Modifier le troisième élément
cours[3] = 'statistiques'
cours

['data science', 'machine learning', 'python', 'statistiques', 'big data']

### **Méthodes de liste**

Python dispose d'un ensemble de méthodes intégrées que vous pouvez utiliser sur les listes et les tableaux.
<br>
append()<br>
insert()<br>
extend()<br>
del <br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(élément)**<br>

La méthode **list.append(élément)** ajoute l'élément à la fin d'une liste.

In [67]:
# Définir une liste
cours1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]
cours2 = ['statistiques']

# Ajouter un élément à la liste
cours1.append(cours2)
cours1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistiques']]

**list.insert(i, élément)**<br>

Cette méthode permet d'insérer un élément au *ième indice* d'une liste.

In [68]:
# Définir une liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Insérer un élément au 2ème index d'une liste
cours.insert(2, 'statistiques')
cours

['data science',
 'machine learning',
 'statistiques',
 'python',
 'html',
 'big data']

**list.extend(élément)**<br>

La méthode **extend** permet de concaténer des listes.

In [70]:
# Définir une première liste
cours1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# Définir une deuxième liste
cours2 = ['intelligence artificielle']

# Concaténer la liste
cours1.extend(cours2)
cours1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'intelligence artificielle']

**Suppression d'éléments de la liste**<br>

Utilisez les mots-clés **del** pour supprimer un élément à un index spécifique.

In [72]:
# Définir une première liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Supprimer le troisième élément de la liste
del cours[2]

# Afficher la sortie
cours

['data science', 'machine learning', 'html', 'big data']

**list.remove(élément)**<br>

Cette fonction permet de rechercher et de supprimer uniquement la première occurrence d'un élément.

In [73]:
# Définir une première liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

cours.remove('html')

cours

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>

Supprime et renvoie le dernier élément d'une liste.

In [75]:
# Définir une première liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

cours.pop()

'html'

**list.reverse()**<br>

La méthode **reverse()** inverse l'ordre de tri des éléments.

In [76]:
# Définir une première liste
cours = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

cours.reverse()

cours

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### **Opérations de listes communes**

**Concaténation (+)**<br>
La concaténation utilise l'opérateur +. Elle permet de combiner des listes.

In [78]:
# Définir une première liste
cours1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Définir une deuxième liste
cours2 = ['intelligence artificielle']

# Concaténer la liste
cours1 + cours2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'intelligence artificielle']

**Répétition (*)**<br>
Utilise l'opérateur *. Concatène une liste un nombre répété de fois.

In [79]:
# Définir une première liste
cours1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

cours1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']