In [25]:
#exercice 2#
#création et modification #
import random 
liste = [random.randint(1, 100) for _ in range(10)]
print("voici votre liste: ",liste)
liste[4]=100
liste.append (200)
print("voici la nouvelle liste: ",liste)
del liste[2]
print("liste selection: ",liste)

voici votre liste:  [61, 79, 17, 5, 87, 4, 21, 34, 31, 34]
voici la nouvelle liste:  [61, 79, 17, 5, 100, 4, 21, 34, 31, 34, 200]
liste selection:  [61, 79, 5, 100, 4, 21, 34, 31, 34, 200]

In [13]:
#tri et decoupage 
liste.sort()
print("liste trier: ",liste)
print(liste[:5])

liste trier [10, 22, 23, 34, 39, 39, 40, 42, 100, 200]
[10, 22, 23, 34, 39]

In [17]:
#comprehension de la liste 
carres = [x**2 for x in range(1, 11)]
print("Liste des carrés de 1 à 10 :", carres)
pairs=[x for x in liste if x%2==0]
print("liste des nombres pairs de la liste de depart",pairs)

Liste des carrés de 1 à 10 : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
liste des nombres pairs de la liste de depart [10, 22, 34, 40, 42, 100, 200]

In [23]:
# 2 tuple
#base de tuple 
tuple_pays=("Cameroun","Senegal","Burkina Faso","Niger","Benin")
print("deuxieme pays: ",tuple_pays[1])
print("dernier pays: ",tuple_pays[-1])

deuxieme pays: Senegal
dernier pays:  Benin

In [31]:
#Déballage de tuple (unpacking)
tuple_donnee=("nom","âge","pays")
personne=("linda","lamerveille",21)
nom, age, pays = personne
print("Nom :", nom)
print("Âge :", age)
print("Pays :", pays)

Nom : linda
Âge : lamerveille
Pays : 21

In [33]:
#Tuples et immutabilité
personne[1]="belle"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#un tuple est immuable parce qu'il a été conçu pour stocker des données qui ne doivent pas changer après leur création
#il est utilise par exemple pour l'identifiant des salasalariés

In [39]:
#3.	Dictionnaire
#Création et accès
etudiants = {
    "linda": 15,
    "lamerveille": 18,
    "touken ymele": 12,
    "nguimkeng": 17,
    "sky ari": 14
}
print("Note de touken ymele est: ", etudiants["touken ymele"])

Note de touken ymele est:  12

In [41]:
#Ajout et modification
etudiants["christine tesla "] = 16
etudiants["touken ymele"] = 19
print(etudiants)

{'linda': 15, 'lamerveille': 18, 'touken ymele': 19, 'nguimkeng': 17, 'sky ari': 14, 'christine tesla ': 16}

In [49]:
# Boucles sur dictionnaires
#affiche tous les noms
print("Noms des étudiants: ", etudiants.keys())

#afficher un par un par 
for nom in etudiants.keys():
    print(nom)
    
#affichage de tous les notes des etudiants 
print("note des etudiants",etudiants.values())

#cle valeur represente l affichage des notes et des noms 
print("Paires nom-note :", etudiants.items())

Noms des étudiants:  dict_keys(['linda', 'lamerveille', 'touken ymele', 'nguimkeng', 'sky ari', 'christine tesla '])
linda
lamerveille
touken ymele
nguimkeng
sky ari
christine tesla
note des etudiants dict_values([15, 18, 19, 17, 14, 16])
Paires nom-note : dict_items([('linda', 15), ('lamerveille', 18), ('touken ymele', 19), ('nguimkeng', 17), ('sky ari', 14), ('christine tesla ', 16)])

In [53]:
#Dictionnaire imbriqué
etudiant = {
    "linda": {"maths": 15, "sciences": 18},
    "lamerveille": {"maths": 12, "sciences": 14},
    "touken ymele ": {"maths": 17, "sciences": 16}
    
}
print("Note de linda en sciences :", etudiant["linda"]["sciences"])

Note de linda en sciences : 18