EXERCICES

EXERCICE 1

In [11]:
nombres=list(range(1,101))
print(nombres)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [13]:
#30 ème élément
print(nombres[29])

30

In [15]:
#Dernier élément
print(nombres[-1])
print(nombres[99])

100
100

In [17]:
#Renverser la liste
nombres.reverse()
print(nombres)

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
#Supprime le 75 ème élément
del nombres[74]

In [21]:
#Taille de la liste
len(nombres)

99

EXERCICE 2

In [27]:
#Afficher les noms des élèves à l'exception des 5  derniers
#eleves est le nom de la liste contenant les noms des élèves
eleves[:-5]

EXERCICE 3

In [48]:
age =[23, 19, 18, 30,21, 19, 21, 20,10]
print(age)

[23, 19, 18, 30, 21, 19, 21, 20, 10]

In [50]:
#Ajoute le nombre 12 à la liste
age.append(12)
print(age)

[23, 19, 18, 30, 21, 19, 21, 20, 10, 12]

In [52]:
#Renverse la liste 
age.reverse()
print(age)

[12, 10, 20, 21, 19, 21, 30, 18, 19, 23]

In [54]:
#L'index de l'élément 30
print(age.index(30))

6

In [56]:
#Supprime l'élément 30
age.remove(30)
print(age)

[12, 10, 20, 21, 19, 21, 18, 19, 23]

In [58]:
#sous-liste du 2e et 3e élément
print(age[1:3])

[10, 20]

In [60]:
#Asous-liste du début au 2e élément
print(age[:2])

[12, 10]

In [62]:
#sous liste du 3e élément j'usqu'à la fin
print(age[2::])

[20, 21, 19, 21, 18, 19, 23]

In [64]:
#sous liste de la liste complète
print(age[:])

[12, 10, 20, 21, 19, 21, 18, 19, 23]

In [66]:
#Affiche dernier élément avec un indiçage négatif
print(age[-1])

23

In [68]:
#Triage puis affichage de la liste
age.sort()
print(age)

[10, 12, 18, 19, 19, 20, 21, 21, 23]