In [31]:
ma_liste=[1,0,23,2,45,17,28,9,4,3,56]
print(ma_liste)
ma_liste[4]=100
print(ma_liste)
ma_liste.append(200)
print(ma_liste)
del ma_liste[2]
print(ma_liste)
ma_liste.sort()
print(ma_liste)
ma_liste[:5]

[1, 0, 23, 2, 45, 17, 28, 9, 4, 3, 56]
[1, 0, 23, 2, 100, 17, 28, 9, 4, 3, 56]
[1, 0, 23, 2, 100, 17, 28, 9, 4, 3, 56, 200]
[1, 0, 2, 100, 17, 28, 9, 4, 3, 56, 200]
[0, 1, 2, 3, 4, 9, 17, 28, 56, 100, 200]

[0, 1, 2, 3, 4]

In [35]:
nov_liste=list(range(1,11))
carre=[x**2 for x in nov_liste]
print(carre)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
liste=ma_liste
print(liste)
pair=[x for x in liste if x%2==0]
print(pair)

[0, 1, 2, 3, 4, 9, 17, 28, 56, 100, 200]
[0, 2, 4, 28, 56, 100, 200]

In [43]:
print("Tuple")

Tuple

In [55]:
mon_tuple=('Sénégal','Tchad','Comore','Gambie','Canada')
print(mon_tuple)

('Sénégal', 'Tchad', 'Comore', 'Gambie', 'Canada')

In [65]:
mon_tuple[1]

'Tchad'

In [63]:
mon_tuple[-1]

'Canada'

In [70]:
tuple=('Cheikh',20,'Etats Unis')
print(tuple)

('Cheikh', 20, 'Etats Unis')

In [72]:
var1=tuple[0]
var2=tuple[1]
var3=tuple[-1]
print(var1)
print(var2)
print(var3)

Cheikh
20
Etats Unis

In [74]:
tuple[0]='Safia'
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [76]:
# Ceci n'est pas valide puisque les éléments du tuple sont immuables

In [80]:
print('Dictionnaire')

Dictionnaire

In [82]:
dict={'Mademba':12,'Sadio':17,'Coumba':11,'Nafi':10,'Nabou':16}
print(dict)

{'Mademba': 12, 'Sadio': 17, 'Coumba': 11, 'Nafi': 10, 'Nabou': 16}

In [84]:
dict['Coumba']

11

In [96]:
dict.update({'Ahamed':20})
print(dict)

{'Mademba': 12, 'Sadio': 17, 'Coumba': 11, 'Nafi': 10, 'Nabou': 16, 'Ahamed': 20}

In [98]:
dict['Coumba']=17
print(dict)

{'Mademba': 12, 'Sadio': 17, 'Coumba': 17, 'Nafi': 10, 'Nabou': 16, 'Ahamed': 20}

In [110]:
for nom in dict.keys():
    print(nom)

Mademba
Sadio
Coumba
Nafi
Nabou
Ahamed

In [117]:
for valeur in dict.values():
    print(valeur)

12
17
17
10
16
20

In [119]:
for couples in dict.items():
    print(couples)

('Mademba', 12)
('Sadio', 17)
('Coumba', 17)
('Nafi', 10)
('Nabou', 16)
('Ahamed', 20)

In [123]:
ma_dict={'Mbaye':{'maths':20,'sciences':12},'Babacar':{'maths':11,'sciences':13},'Salifou':{'maths':10,'sciences':14},'Safia':{'maths':15,'sciences':16}}
print(ma_dict)

{'Mbaye': {'maths': 20, 'sciences': 12}, 'Babacar': {'maths': 11, 'sciences': 13}, 'Salifou': {'maths': 10, 'sciences': 14}, 'Safia': {'maths': 15, 'sciences': 16}}

In [129]:
ma_dict['Babacar']['sciences']

13